* {
    margin: 0;
}
.header-left img {
    height: 40px;
}
.user-avatar {
    border-radius: 50%;
    width: 38px;
}
.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.header-left {
    display: flex;
    flex: 1;
}
.header-middle {
    display: flex;
    flex: 1;
    justify-content: center;
}
.header-right {
    display: flex;
    flex: 1;
    justify-content: center;
}
.header-input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 100px;
}
.header-input input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}
.header-action .material-icons {
    font-size: xx-large;
    color: gray;
}
.header-action {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
    flex: 1;
}
.header-action:hover .material-icons {
    color: #2e81f4;
}

.header-action .active {
    border-bottom: 3px solid #2e81f4;
}
.header-action:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0, 30px;
    border-bottom: 3px solid #2e81f4;
}
.header-profile {
    display: flex;
    align-items: center;
}
.header-profile h4 {
    margin-left: 10px;
}
.header-right .material-icons {
    color: #6b6b6b;
    padding: 10px;
    cursor: pointer;
    align-items: center;
}

/*  */
.profile-top {
    border-bottom: 2px solid #eff2f5;
}
.cover-image {
    overflow: hidden;
    width: 80%;
    margin: auto;
    align-items: center;
    position: relative;
    display: block;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: auto;
    max-height: 300px;
}

.cover-image img {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}
.bar-feature {
    border-top: 2px solid rgb(209, 209, 209);
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
}

.btn-action .nav-btn {
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.nav-btn:hover {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 3px solid #2e81f4;
    cursor: pointer;
}
.btn-action:hover {
    margin: 5px;
}
.btn-action .material-icons {
    right: 10px;
    top: 0;
    padding: 10px;
    position: absolute;
    cursor: pointer;
}
.btn-action .material-icons:hover {
    margin: 5px;
    background-color: #d7d7d7;
    border-radius: 10px;
}
.profile-header {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 200px;
}
.main-avatar {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    left: 100px;
    top: -30px;
    border: 5px solid rgb(255, 255, 255);
}
.name {
    position: absolute;
    top: 70px;
    left: 400px;
}

/*  */
.main-block {
    background-color: #d7d7d7;
    height: 10000px;
}
.main-frame {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    border: #5eff00 solid 2px;
    height: 1000px;
}
.left-content {
    width: 40%;
    position: absolute;
    border: #2e81f4 solid 2px;
    /* margin: 20px; */
    height: 50px;
    left: 0;
    top: 0;
}
.main-content {
    position: absolute;
    border: #f48a2e solid 2px;
    height: auto;
    right: 0;
    top: 0;
    width: 60%;
}

/* message sender */
.message-sender {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.message-sender-top {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #eff2f5;
    padding: 15px;
}
.message-sender-top form {
    flex: 1;
    display: flex;
}
.message-sender-top form input {
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 20px;
    background-color: #eff2f5;
    border-radius: 100px;
}
.message-sender-bottum {
    display: flex;
    justify-content: space-evenly;
}
.message-sender-options {
    padding: 8px;
    display: flex;

    align-items: center;
    color: gray;
    margin: 5px;
}
.message-sender-options h4 {
    font-size: medium;
    margin-left: 10px;
}
.message-sender-options:hover {
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}
.post {
    width: 90%;

    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 5px 7px -8px rgba(0, 0, 0, 0.75);

    display: flex;
    margin-top: 30px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.post-image img {
    width: 100%;
}
.post-top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post-avatar {
    margin-right: 10px;
}
.post-Info h3 {
    font-size: medium;
}
.post-Info p {
    font-size: small;
    color: gray;
}
.post-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}
.post-options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: grey;
    cursor: pointer;
    padding: 15px;
}
.post-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.post-option:hover {
    background-color: #eff2f5;
    border-radius: 20px;
}
.block-info {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 20px;
}
.btn {
    width: 100%;
    border-radius: 15px;
    background-color: #d9d9d9;
    box-shadow: 0px 5px 7px -8px rgba(0, 0, 0, 0.75);
    margin: 20px 15px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    font-family: inherit;
    padding-top: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
}
.btn span {
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    padding: 15px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-item {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 90%;
}

.info .material-icons {
    padding: 5px;
    color: gray;
}

.info .info-content {
    margin-left: 10px;
}
